
.app {
  font-family: 'Calibri'; font-size:23px;font-style: normal;margin: 50px; margin-top: 0px;
 }
 .question1{ color: rgb(0, 102, 255); font-size: 32px; 
  font-weight: bold;
  transition: color 0.3s;}
  .question1:hover {
    color:#FFA500;
    
  }
  .partie1{display: flex; margin: 20px; justify-content: space-between;}
.img1{width: 350px; height: 280px; margin-top: 70px;
  transition: transform 0.3s;}
  .img1:hover{transform: scale(1.1)}
  .para1{padding-right: 300px;font-size: larger; 
  }
  .gc:hover{color:#FFA500;}
 .partie2{display: flex;}
 .partie2-1{display: flex; flex-direction: column;}
 .importance{width: 250px; height: 300px; margin: 50px; margin-top: 120px;}
 .importance:hover{transform: scale(1.1)}
 .partie3{display: flex;}
  .pourcentagegc{width: 450px; height: 300px; margin: 50px; margin-top: 70px;} 
 .pourcentagegc:hover{transform: scale(1.1)}
.label{text-align: start;}
 
    .form {
      resize: none;
    }

